* {
	padding: 0px;
	margin: 0px auto;
	font-family: sans-serif;
}
#wrapper {
	width: 600px;
}
#left-container, #right-container {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
label, textarea {
	display: block;
}
label {
	padding-right: 80px;
	margin: 10px 0px;
}
textarea {
	margin-top: 10px;
	margin-left: 0px;
	width: 180px;
	height: 50px;
}
.name_box {
	width: 100px;
	float: right;
}
.box {
	width: 250px;
	height: 100px;
	margin: 10px auto;
	border: 1px solid black;
}
.box h1, #click-descrip {
	text-align: center;
}
.box h1 {
	line-height: 100px;
}
#click-descrip {
	position: relative;
	top: -30px;
	width: 250px;
}
.des {
	padding: 5px;
}
